<!-- ===== FOOTER ===== -->
<footer class="border-top border-1 border-black bg-light">
	<div class="custom-footer container bg-transparent">
		<div class=" row">
			<div class="custom-footer-column">
				<h6 href="" class="footer-heads mb-0">Buy</h6>
				<p><a href="">Registration</a></p>
				<p><a href="">eBay Money Back Guarantee</a></p>
				<p><a href="">Bidding & buying help</a></p>
				<p><a href="">Stores</a></p>
			</div>
			<div class="custom-footer-column">
				<div>
					<h6 href="" class="footer-heads  mb-0">Sell</h6>
					<p><a href="">Start selling</a></p>
					<p><a href="">Learn to sell</a></p>
					<p><a href="">Affiliates</a></p>
				</div>
				<div>
					<h6 href="" class="footer-head  mb-0s">Tools & apps</h6>
					<p><a href="">Developers</a></p>
					<p><a href="">Security center</a></p>
					<p><a href="">Site map</a></p>
				</div>
			</div>
			<div class="custom-footer-column">
				<h6 href="" class="footer-heads  mb-0">Stay connected</h6>
				<p><a href="">eBay's Blogs</a></p>
				<p><a href="">Facebook</a></p>
				<p><a href="">Twitter</a></p>
			</div>
			<div class="custom-footer-column">
				<h6 href="" class="footer-heads  mb-0">About eBay</h6>
				<p><a href="">News</a></p>
				<p><a href="">Investors</a></p>
				<p><a href="">Company info</a></p>
				<p><a href="">Careers</a></p>
				<p><a href="">Government relations</a></p>
				<p><a href="">Advertise with us</a></p>
				<p><a href="">Policies</a></p>
				<p><a href="">Verified Rights Owner (VeRO) Program</a></p>
			</div>
			<div class="custom-footer-column">
				<div>
					<h6 href="" class="footer-heads mb-0">Help & Contact</h6>
					<p><a href="">Seller Information Center</a></p>
					<p><a href="">Contact us</a></p>
				</div>
				<div>
					<h6 href="" class="footer-heads mb-0">Community</h6>
					<p><a href="">Announcements</a></p>
					<p><a href="">Discussion boards</a></p>
					<p><a href="">eBay Giving Works</a></p>
				</div>


			</div>
		</div>
	</div>
</footer>